# Assignment 2 piaic

In [3]:
import numpy as np

In [4]:
def function1():
    # create 2d array from 1,12 range 
    # dimension should be 6row 2 columns  
    # and assign this array values in x values in x variable
    # Hint: you can use arange and reshape numpy methods  
    x =  np.arange(1,13).reshape((6,2)) 

    return x

In [5]:
function1()

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [18]:
# Task2
def function2():
    #create 3D array (3,3,3)
    #must data type should have float64
    #array value should be satart from 10 and end with 36 (both included)
    # Hint: dtype, reshape 
    
    x = np.arange(10,37,dtype=np.float64).reshape((3,3,3))     #wrtie your code here


    return x

In [19]:
function2()

array([[[10., 11., 12.],
        [13., 14., 15.],
        [16., 17., 18.]],

       [[19., 20., 21.],
        [22., 23., 24.],
        [25., 26., 27.]],

       [[28., 29., 30.],
        [31., 32., 33.],
        [34., 35., 36.]]])

In [40]:
a = np.arange(1, 100*10+1).reshape((100,10))
a

array([[   1,    2,    3,    4,    5,    6,    7,    8,    9,   10],
       [  11,   12,   13,   14,   15,   16,   17,   18,   19,   20],
       [  21,   22,   23,   24,   25,   26,   27,   28,   29,   30],
       [  31,   32,   33,   34,   35,   36,   37,   38,   39,   40],
       [  41,   42,   43,   44,   45,   46,   47,   48,   49,   50],
       [  51,   52,   53,   54,   55,   56,   57,   58,   59,   60],
       [  61,   62,   63,   64,   65,   66,   67,   68,   69,   70],
       [  71,   72,   73,   74,   75,   76,   77,   78,   79,   80],
       [  81,   82,   83,   84,   85,   86,   87,   88,   89,   90],
       [  91,   92,   93,   94,   95,   96,   97,   98,   99,  100],
       [ 101,  102,  103,  104,  105,  106,  107,  108,  109,  110],
       [ 111,  112,  113,  114,  115,  116,  117,  118,  119,  120],
       [ 121,  122,  123,  124,  125,  126,  127,  128,  129,  130],
       [ 131,  132,  133,  134,  135,  136,  137,  138,  139,  140],
       [ 141,  142,  143,  144,  145,  146,  147,  148,  149,  150],
       [ 151,  152,  153,  154,  155,  156,  157,  158,  159,  160],
       [ 161,  162,  163,  164,  165,  166,  167,  168,  169,  170],
       [ 171,  172,  173,  174,  175,  176,  177,  178,  179,  180],
       [ 181,  182,  183,  184,  185,  186,  187,  188,  189,  190],
       [ 191,  192,  193,  194,  195,  196,  197,  198,  199,  200],
       [ 201,  202,  203,  204,  205,  206,  207,  208,  209,  210],
       [ 211,  212,  213,  214,  215,  216,  217,  218,  219,  220],
       [ 221,  222,  223,  224,  225,  226,  227,  228,  229,  230],
       [ 231,  232,  233,  234,  235,  236,  237,  238,  239,  240],
       [ 241,  242,  243,  244,  245,  246,  247,  248,  249,  250],
       [ 251,  252,  253,  254,  255,  256,  257,  258,  259,  260],
       [ 261,  262,  263,  264,  265,  266,  267,  268,  269,  270],
       [ 271,  272,  273,  274,  275,  276,  277,  278,  279,  280],
       [ 281,  282,  283,  284,  285,  286,  287,  288,  289,  290],
       [ 291,  292,  293,  294,  295,  296,  297,  298,  299,  300],
       [ 301,  302,  303,  304,  305,  306,  307,  308,  309,  310],
       [ 311,  312,  313,  314,  315,  316,  317,  318,  319,  320],
       [ 321,  322,  323,  324,  325,  326,  327,  328,  329,  330],
       [ 331,  332,  333,  334,  335,  336,  337,  338,  339,  340],
       [ 341,  342,  343,  344,  345,  346,  347,  348,  349,  350],
       [ 351,  352,  353,  354,  355,  356,  357,  358,  359,  360],
       [ 361,  362,  363,  364,  365,  366,  367,  368,  369,  370],
       [ 371,  372,  373,  374,  375,  376,  377,  378,  379,  380],
       [ 381,  382,  383,  384,  385,  386,  387,  388,  389,  390],
       [ 391,  392,  393,  394,  395,  396,  397,  398,  399,  400],
       [ 401,  402,  403,  404,  405,  406,  407,  408,  409,  410],
       [ 411,  412,  413,  414,  415,  416,  417,  418,  419,  420],
       [ 421,  422,  423,  424,  425,  426,  427,  428,  429,  430],
       [ 431,  432,  433,  434,  435,  436,  437,  438,  439,  440],
       [ 441,  442,  443,  444,  445,  446,  447,  448,  449,  450],
       [ 451,  452,  453,  454,  455,  456,  457,  458,  459,  460],
       [ 461,  462,  463,  464,  465,  466,  467,  468,  469,  470],
       [ 471,  472,  473,  474,  475,  476,  477,  478,  479,  480],
       [ 481,  482,  483,  484,  485,  486,  487,  488,  489,  490],
       [ 491,  492,  493,  494,  495,  496,  497,  498,  499,  500],
       [ 501,  502,  503,  504,  505,  506,  507,  508,  509,  510],
       [ 511,  512,  513,  514,  515,  516,  517,  518,  519,  520],
       [ 521,  522,  523,  524,  525,  526,  527,  528,  529,  530],
       [ 531,  532,  533,  534,  535,  536,  537,  538,  539,  540],
       [ 541,  542,  543,  544,  545,  546,  547,  548,  549,  550],
       [ 551,  552,  553,  554,  555,  556,  557,  558,  559,  560],
       [ 561,  562,  563,  564,  565,  566,  567,  568,  569,  570],
       [ 571,  572,  573,  574,  575,  576,  577,  578,  579,  580],
       [ 581,  582,  583,  584,  585,  586,  587,  588,  589,  590],
       [ 591,  592,  593,  594,  595,  596,  597,  598,  599,  600],
       [ 601,  602,  603,  604,  605,  606,  607,  608,  609,  610],
       [ 611,  612,  613,  614,  615,  616,  617,  618,  619,  620],
       [ 621,  622,  623,  624,  625,  626,  627,  628,  629,  630],
       [ 631,  632,  633,  634,  635,  636,  637,  638,  639,  640],
       [ 641,  642,  643,  644,  645,  646,  647,  648,  649,  650],
       [ 651,  652,  653,  654,  655,  656,  657,  658,  659,  660],
       [ 661,  662,  663,  664,  665,  666,  667,  668,  669,  670],
       [ 671,  672,  673,  674,  675,  676,  677,  678,  679,  680],
       [ 681,  682,  683,  684,  685,  686,  687,  688,  689,  690],
       [ 691,  692,  693,  694,  695,  696,  697,  698,  699,  700],
       [ 701,  702,  703,  704,  705,  706,  707,  708,  709,  710],
       [ 711,  712,  713,  714,  715,  716,  717,  718,  719,  720],
       [ 721,  722,  723,  724,  725,  726,  727,  728,  729,  730],
       [ 731,  732,  733,  734,  735,  736,  737,  738,  739,  740],
       [ 741,  742,  743,  744,  745,  746,  747,  748,  749,  750],
       [ 751,  752,  753,  754,  755,  756,  757,  758,  759,  760],
       [ 761,  762,  763,  764,  765,  766,  767,  768,  769,  770],
       [ 771,  772,  773,  774,  775,  776,  777,  778,  779,  780],
       [ 781,  782,  783,  784,  785,  786,  787,  788,  789,  790],
       [ 791,  792,  793,  794,  795,  796,  797,  798,  799,  800],
       [ 801,  802,  803,  804,  805,  806,  807,  808,  809,  810],
       [ 811,  812,  813,  814,  815,  816,  817,  818,  819,  820],
       [ 821,  822,  823,  824,  825,  826,  827,  828,  829,  830],
       [ 831,  832,  833,  834,  835,  836,  837,  838,  839,  840],
       [ 841,  842,  843,  844,  845,  846,  847,  848,  849,  850],
       [ 851,  852,  853,  854,  855,  856,  857,  858,  859,  860],
       [ 861,  862,  863,  864,  865,  866,  867,  868,  869,  870],
       [ 871,  872,  873,  874,  875,  876,  877,  878,  879,  880],
       [ 881,  882,  883,  884,  885,  886,  887,  888,  889,  890],
       [ 891,  892,  893,  894,  895,  896,  897,  898,  899,  900],
       [ 901,  902,  903,  904,  905,  906,  907,  908,  909,  910],
       [ 911,  912,  913,  914,  915,  916,  917,  918,  919,  920],
       [ 921,  922,  923,  924,  925,  926,  927,  928,  929,  930],
       [ 931,  932,  933,  934,  935,  936,  937,  938,  939,  940],
       [ 941,  942,  943,  944,  945,  946,  947,  948,  949,  950],
       [ 951,  952,  953,  954,  955,  956,  957,  958,  959,  960],
       [ 961,  962,  963,  964,  965,  966,  967,  968,  969,  970],
       [ 971,  972,  973,  974,  975,  976,  977,  978,  979,  980],
       [ 981,  982,  983,  984,  985,  986,  987,  988,  989,  990],
       [ 991,  992,  993,  994,  995,  996,  997,  998,  999, 1000]])

In [59]:
#task3
def function3():
    #extract those numbers from given array. those are must exist in 5,7 Table
    #example [35,70,105,..]
    a = np.arange(1, 100*10+1).reshape((100,10))
    x = a #wrtie your code here
    x=a[np.where((a%5==0) & (a%7==0))]
    return x
    """
    Expected Output:
     [35,  70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455,
       490, 525, 560, 595, 630, 665, 700, 735, 770, 805, 840, 875, 910,
       945, 980] 
    """

In [60]:
function3()

array([ 35,  70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455,
       490, 525, 560, 595, 630, 665, 700, 735, 770, 805, 840, 875, 910,
       945, 980])

In [78]:
  """
    Expected Output:
          array([[1, 0, 2],
                [4, 3, 5],
                [7, 6, 8]])
    """

'\n  Expected Output:\n        array([[1, 0, 2],\n              [4, 3, 5],\n              [7, 6, 8]])\n  '

In [101]:
#task4
def function4():
    #Swap columns 1 and 2 in the array arr.
    arr = np.arange(9).reshape(3,3)
    return arr #wrtie your code here
print('orignal =','\n',function4())
arr=function4()
arr[:,[0, 1]] = arr[:,[1, 0]]
print('modified ','\n',arr)

orignal =
 [[0 1 2]
 [3 4 5]
 [6 7 8]]
modified
 [[1 0 2]
 [4 3 5]
 [7 6 8]]

In [107]:
#task5
def function5():
    #Create a null vector of size 20 with 4 rows and 5 columns with numpy function
   
    #wrtie your code here
    z=np.zeros((4,5),dtype=int)
    return z
    """
    Expected Output:
          array([[0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0],
                [0, 0, 0, 0, 0]])
    """

In [108]:
function5()

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [125]:
#task6
def function6():
    # Create a null vector of size 10 but the fifth and eighth value which is 10,20 respectively
   
     #wrtie your code here
    arr=np.zeros((10),dtype=int)
    arr[5]=10
    arr[8]=20
    return arr
function6()

array([ 0,  0,  0,  0,  0, 10,  0,  0, 20,  0])

In [135]:
#task7
def function7():
    #  Create an array of zeros with the same shape and type as X. Dont use reshape method
    x = np.arange(4, dtype=np.int64)
    y =np.zeros(4,dtype=int)
    return y  #write your code here

    """
    Expected Output:
          array([0, 0, 0, 0], dtype=int64)
    """ 
function7()

array([0, 0, 0, 0])

In [150]:
#task8
def function8():
    # Create a new array of 2x5 uints, filled with 6.
    
     #write your code here
    x=np.zeros((2,5),dtype=int)
    x[np.where(x==0)]=6
    return x
function8()

array([[6, 6, 6, 6, 6],
       [6, 6, 6, 6, 6]])

In [157]:
def function9():
    # Create an array of 2, 4, 6, 8, ..., 100.
    
     # write your code here
    a=np.arange(2,102,2)
    return a
function9()

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

In [188]:
def function10():
    # Subtract the 1d array brr from the 2d array arr, such that each item of brr subtracts from respective row of arr.
    
    arr = np.array([[3,3,3],[4,4,4],[5,5,5]])
    brr = np.array([1,2,3])
    subt=np.zeros((3,3),dtype=int)
    for i in brr-1:
        subt[i]=np.subtract(arr[i],brr[i])
    return subt
function10()

array([[2, 2, 2],
       [2, 2, 2],
       [2, 2, 2]])

In [191]:
#task11
def function11():
    # Replace all odd numbers in arr with -1 without changing arr.
    
    arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
    ans = arr
    ans[np.where(arr%2==1)]=-1 
  
    return ans
function11()

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [200]:
    
#task12
def function12():
    # Create the following pattern without hardcoding. Use only numpy functions and the below input array arr.
    # HINT: use stacking concept
    
    arr = np.array([1,2,3])
    ans=np.r_[np.repeat(arr, 3), np.tile(arr, 3)]
    return ans
function12()

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [207]:
#task13
def function13():
    # Set a condition which gets all items between 5 and 10 from arr.
    
    
    arr = np.array([2, 6, 1, 9, 10, 3, 27])
    ans = arr[np.where((arr<10)&(arr>5))]
  
    return ans
function13()

array([6, 9])

In [213]:
def function14():
    # Create an 8X3 integer array from a range between 10 to 34 such that the difference between each element is 1 and then Split the array into four equal-sized sub-arrays.
    # Hint use split method
    
    
    arr = np.arange(10, 34, 1) #write reshape code
    sampleArray = arr.reshape(8,3)
    print (sampleArray)

    ans = np.split(sampleArray, 4) 
    print(ans)
    return ans
function14()

[[10 11 12]
 [13 14 15]
 [16 17 18]
 [19 20 21]
 [22 23 24]
 [25 26 27]
 [28 29 30]
 [31 32 33]]
[array([[10, 11, 12],
       [13, 14, 15]]), array([[16, 17, 18],
       [19, 20, 21]]), array([[22, 23, 24],
       [25, 26, 27]]), array([[28, 29, 30],
       [31, 32, 33]])]

[array([[10, 11, 12],
        [13, 14, 15]]),
 array([[16, 17, 18],
        [19, 20, 21]]),
 array([[22, 23, 24],
        [25, 26, 27]]),
 array([[28, 29, 30],
        [31, 32, 33]])]

In [220]:
def function15():
    #Sort following NumPy array by the second column
    
    
    arr = np.array([[ 8,  2, -2],[-4,  1,  7],[ 6,  3,  9]])
    ans=arr
    ans[[0,1],:]=ans[[1,0],:]
  
    return ans

     #Expected Output:
          # array([[-4,  1,  7],
           #        [ 8,  2, -2],
            #       [ 6,  3,  9]])
function15()

array([[-4,  1,  7],
       [ 8,  2, -2],
       [ 6,  3,  9]])

In [222]:
#task16
def function16():
    #Write a NumPy program to join a sequence of arrays along depth.
    
    
    x = np.array([[1], [2], [3]])
    y = np.array([[2], [3], [4]])
    ans =  np.concatenate((x,y),axis=1)

  
    return ans

   # Expected Output:
     #           [[[1 2]]
      #           [[2 3]]
      #           [[3 4]]]
function16()

array([[1, 2],
       [2, 3],
       [3, 4]])

In [244]:
#Task17
def function17():
    # replace numbers with "YES" if it divided by 3 and 5
    # otherwise it will be replaced with "NO"
    # Hint: np.where
    arr = np.arange(1,10*10+1).reshape((10,10))
    arr[np.where((arr%3==0)&(arr%5==0))]=-1
    arr[np.where(arr!=-1)]=-2
    arr=arr.astype(str)
    arr[np.where(arr=='-1')]='YES'
    arr[np.where(arr=='-2')]='NO'
    return arr          

#Excpected Out
function17()

array([['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO'],
       ['NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO'],
       ['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES'],
       ['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO'],
       ['NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO'],
       ['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES'],
       ['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO'],
       ['NO', 'NO', 'NO', 'NO', 'YES', 'NO', 'NO', 'NO', 'NO', 'NO'],
       ['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES'],
       ['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO']],
      dtype='<U11')

In [270]:
#Task18
def function18():
    # count values of "students" are exist in "piaic"
    piaic = np.arange(100)
    students = np.array([5,20,50,200,301,7001])
    x=0
    for i in students:
        if i in piaic:
            x+=1
    return x
function18()
    #Expected output: 3

3

In [272]:
x=np.arange(1,26)
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [274]:
# Task19
def function19():
    #Create variable "X" from 1,25 (both are included) range values
    #Convert "X" variable dimension into 5 rows and 5 columns
    #Create one more variable "W" copy of "X" 
    #Swap "W" row and column axis (like transpose)
    # then create variable "b" with value equal to 5
    # Now return output as "(X*W)+b:

    X =   np.arange(1,26).reshape(5,5)
    W =   np.transpose(X)
    b =   5
    output =   (X*W)+b
    return output
    #expected output
    """
    array([[  6,  17,  38,  69, 110],
       [ 17,  54, 101, 158, 225],
       [ 38, 101, 174, 257, 350],
       [ 69, 158, 257, 366, 485],
       [110, 225, 350, 485, 630]])
    """
function19()

array([[  6,  17,  38,  69, 110],
       [ 17,  54, 101, 158, 225],
       [ 38, 101, 174, 257, 350],
       [ 69, 158, 257, 366, 485],
       [110, 225, 350, 485, 630]])

In [281]:
def function20():
    #apply fuction "abc" on each value of Array "X"
    x = np.arange(1,11)
    def abc(x):
        return x*2+3-2
    j=0
    for i in x:
        x[j]=abc(i)
        j+=1
    return x
#Expected Output: array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21])
function20()

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21])